.top-bar-container {
  justify-content: space-between;
  color: #ecdfcc;
  font-size: 24px;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;

  .room-id {
    font-size: 8px;
  }

  .host-username {
    margin-right: 16px;
  }

  .room-info {
    align-items: center;
    display: none;
    gap: 12px;

    @media(min-width: 1024px) {
      display: flex;
    }
  }
}
.middle {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 0;
  justify-content: center;
  z-index: -1;

  .users-number {
    font-weight: bold;
    font-size: 50px;
    margin-left: 16px;
  }
}

.right-side {
  display: flex;
  align-items: center;
  font-size: 24px;
  fill: #ecdfcc;

  .username {
    color: #ecdfcc;
    margin-right: 16px;
  }

  .user-info {
    align-items: center;
    display: none;

    @media(min-width: 1024px) {
      display: flex;
    }
  }
}
