.top-bar-container {
  justify-content: space-between;
  color: #ecdfcc;
  font-size: 24px;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 16px;

  .room-id {
    font-size: 8px;
  }

  .host-username {
    margin-right: 16px;
  }


}
.middle {
  display: flex;
  align-items: center;

  .users-number {
    font-weight: bold;
    font-size: 50px;
    margin-left: 16px;
  }
}


.right-side {
  display: flex;
  align-items: center;
  font-size: 24px;
  // margin-right: 5%;
  fill: #ecdfcc;
}

.username {
  color: #ecdfcc;
  margin-right: 16px;
}

.room-info-header {
}

.room-header {
  font-weight: normal;

  & .room-name {
    font-weight: bold;
  }
}

.back-button {
  background-color: #640d6085;
}
