html {
  padding: 100px 200px;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

body {
  margin: 0;
}

.username-input {
  font-size: 32px;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid gray;
}

.name-question {
  color: red;
}

.button-rng {
  height: 20px;
  width: 90%;
}
